/* friends.css */

.airdrop-page {
    padding: 16px;
    color: white;
  }
  
  .airdrop-icon-container {
    width: 128px;
    height: 128px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    background-image: url('./images/AirdropImage.png');
    background-size: cover;
    background-position: center;
    
    margin-bottom: 16px;
  }
  
  .airdrop-icon {
    width: 64px;
    height: 64px;
  }
  
  .airdrop-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
  }
  .copy-text {
    text-align: center;
    font-size: 16px;
    font-weight:normal;
    margin-top: 8px;
    margin-bottom: 16px;
  }
  
  .airdrop-section {
    margin-bottom: 24px;
  }
  
  .section-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  /* Task Card Style with Background Blur */
  .task-card {
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px 16px 8px 16px;
    margin-bottom: 16px;
    border-radius: 8px;
    overflow: hidden;
    
  }
  
  /* Background layer for blur effect */
  .task-card-bg {
    position: absolute;
    inset: 0;
    background: rgba(212, 212, 212, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    backdrop-filter: blur(17.5px);
    z-index: 0;
  }
  
  /* Content layer (above the background) */
  .task-icon,
  .aw-icon,
  .task-content,
  .task-action {
    position: relative;
    z-index: 1;
  }
  
  .task-card:hover .task-card-bg {
    background: rgba(212, 212, 212, 0.2);
  }
  
  .task-icon {
    font-size: 24px;
    margin-right: 16px;
  }
  
  .wallet-icon {
    width: 40px;
    height: 40px;
    background-image: url('./images/Wallet.png');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
  }
  
  
  
  .task-content {
    flex-grow: 1;
  }
  
  .task-title {
    font-size: 14px;
    font-weight: bold;
    
  }
  
  .task-reward {
    font-size: 14px;
    margin-top: 4px;
    display: flex;
    align-items: center;
  }
  
  
  .task-action {
    font-size: 24px;
    color: #ffffff;
  }
  
  .task-action.completed {
    color: #4ade80; /* Green color for completed */
  }
  


  